{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<style type="text/css">
	.downloads-list {
		padding: 25px 0 0;
		margin-right: 440px;
	}

	#downloads_list {
		list-style-type:none
	}

	.downloads-list ul {
		list-style-image: none;
		list-style-type: none;
		font-size: 13px;
		margin: 0;
		padding: 0;
	}

	ul.subdown {
		margin-left: -40;
		margin-bottom: 35;
	}

	ul.subdown li {
		display:inline;
		list-style-type: none;
		font-size: 12px;
		font-weight: 400;
		color: #888;
	}

	.p_title{
		color: #05408f;
		font-weight: 500;
		font-size: 1.65em;
	}

	.upload_container_select{
		margin-top: 20px;
	}

	.upload_container_select p,
	.upload_container_select select {
		display: inline-block;
	}

	.upload_container_select select{
		margin-left: 35px;
	}

	.upload_div_description {
		margin-top: 60px;
	}

	.file_header{
		font-weight: bold;
	}

</style>
{% endblock%}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6" name='col_prog_files'>
				<h2 class='file_header'>Software</h2>
				<div class='download-list'>
					<ul id='downloads_list'>
						{% for prog_file in prog_files %}
						<li>
							<div class='itemfile'>
								<div class='title'>
									<p class='p_title'>{{ prog_file.name }}</p>
								<div>
								<div class='bio'>
									<p>{{ prog_file.description}}</p>
								</div>
								<ul class='subdown'>
									<a href="{{ url_for('downloads.download', file_id=prog_file.id) }}" target="blank"><span class="glyphicon glyphicon-save" style='margin-left: 35;'></span></a>
									<li style='margin-left: 35;'>{{prog_file.str_time}}</li>
									<li style='margin-left: 35;'>{{prog_file.platform}}</li>
								</ul>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-sm-6" name='col_doc_files'>
				<h2 class='file_header'>Manuals</h2>
				<div class='download-list'>
					<ul id='downloads_list'>
						{% for doc_file in doc_files %}
						<li>
							<div class='itemfile'>
								<div class='title'>
									<p class='p_title'>{{ doc_file.name }}</p>
								<div>
								<div class='bio'>
									<p>{{ doc_file.description}}</p>
								</div>
								<ul class='subdown'>
									<a href="{{ url_for('downloads.download', file_id=doc_file.id) }}" target="blank"><span class="glyphicon glyphicon-save" style='margin-left: 35;'></span></a>
									<li style='margin-left: 35;'>{{doc_file.str_time}}</li>
								</ul>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

  {% endblock %}